/* add your CSS here */
body {
  width:384px;
  border:2px solid #ccc;
  padding-left:10px;
  padding-right:10px;
  box-shadow: 5px 5px 20px #ccc;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    letter-spacing: 2px;
}

.clownfish{
  width: 300px;
  padding-bottom: 10px;
}

.interesting-fact{
  font-style: italic;
  margin-top: 5px;
}

.list-item{
  font-style: italic;
  list-style: none;
}

.label{
  font-style: normal;
  font-weight: bold;
}

.list{
  padding-left:0px;
}

.text-area{
  border:2px solid #ccc;
  padding-left:10px;
  padding-right:10px;
  margin-bottom: 10px;
}
